import React from 'react';
import { Form, Input } from 'antd';

 const {{pascalCase componentName}} = () => {
  return (
    <Form>
      <Form.Item label="{{label}}">
        <Input />
      </Form.Item>
    </Form>
  );
};
 export default {{pascalCase componentName}};