import React from 'react';
import { Form, Input } from 'antd';

 const {{pascalCase componentName}} = () => {
  return (
    <Form>
      {Array({{numberOfItems}}).map((item, index) => {
        return (
          <Form.Item key={index} label="{{label}}">
            <Input />
          </Form.Item>
        );
      })}
    </Form>
  );
};
 export default {{pascalCase componentName}};